body,
html {
    height: 100%;
}

#img1 {
    background-image: url("https://artralux.co.th/wp-content/uploads/2024/10/%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%82%E0%B8%B6%E0%B9%89%E0%B8%99%E0%B8%A0%E0%B8%B9%E0%B8%97%E0%B8%B1%E0%B8%9A%E0%B9%80%E0%B8%9A%E0%B8%B4%E0%B8%81.jpg");
}

#img2 {
    background-image: url("https://s.isanook.com/tr/0/ui/287/1437243/290616695_5231000670314514_253379441535310826_n.jpg");
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax {
    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    padding: 4px 12px;
    border: 1px solid black;
    background-color: lightblue;
}
